<h1>Редактирование администратора</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "Электропочта" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-field-admin" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Новый пароль" %> <i>(оставьте поле пустым, если не хотите менять)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-field-admin" %>
  </div>

  <div class="field">
    <%= f.label "Подтверждение пароля" %> <i>для изменения</i> <br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-field-admin" %>
  </div>

	<br>
	
  <div class="field">
    <%= f.label "Текущий пароль" %> <i>(введите для сохранения информации)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-field-admin" %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить", class: "form-button-admin" %>
  </div>
<% end %>
