<div id="footer" class="clearfix">
	<div class="row">
		<h2 id="contacts">Контактная информация</h2>
		<div id="form-wrapper" class="col-md-6 footer-wrappers clearfix">
			<%= render 'contact_form_mailer/contact_form' %>
		</div>
		<div id="contacts-wrapper" class="col-md-6 footer-wrappers clearfix">
			<div id="footer-contacts">
				<span>
					<p>
						<%= @core_setting.main_phone if @core_setting.main_phone.present? %>
						<%= "(многоканальный)" if @core_setting.main_phone_multi? %>
						
						<% if @core_setting.add_phone_1.present? %>
							<br>
							<%= @core_setting.add_phone_1 %>
							<%= "(многоканальный)" if @core_setting.add_phone_1_multi? %>
						<% end %>
						
						<% if @core_setting.add_phone_2.present? %>
							<br>
							<%= @core_setting.add_phone_2 %>
							<%= "(многоканальный)" if @core_setting.add_phone_2_multi? %>
						<% end %>
					</p>
					
					<p>
						<%= @core_setting.main_email if @core_setting.main_email.present? %>
						<% if @core_setting.add_email.present? %>
							<br>
							<%= @core_setting.add_email %>
						<% end %>
					</p>
					<p id="address"><%= @core_setting.address if @core_setting.address.present? %></p>
				</span>
				<p><%= @core_setting.address_comment if @core_setting.address_comment.present? %></p>
			</div>
		</div>
	</div>
</div>
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<div style="overflow:hidden;height:400px;width:100%;position:relative;z-index:0;">
	<div id="gmap_canvas_f" style="height:400px;width:100%;"></div>
	<style>#gmap_canvas_f img{max-width:none!important;background:none!important}</style>
	<a class="google-map-code" href="https://www.map-embed.com" id="get-map-data_f">www.map-embed.com</a>
</div>
<script>
	function init_map(){
		var myOptions = {zoom:16,center:new google.maps.LatLng(<%= @core_setting.map_lat if @core_setting.map_lat.present? %>,<%= @core_setting.map_lng if @core_setting.map_lng.present? %>),mapTypeId: google.maps.MapTypeId.ROADMAP};
		map = new google.maps.Map(document.getElementById("gmap_canvas_f"), myOptions);
		marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(<%= @core_setting.map_lat if @core_setting.map_lat.present? %>, <%= @core_setting.map_lng if @core_setting.map_lng.present? %>)});
		infowindow = new google.maps.InfoWindow({content:"<b><%= @core_setting.map_name if @core_setting.map_name.present? %></b><br/><%= @core_setting.address if @core_setting.address.present? %>" });
		google.maps.event.addListener(marker, "click", function() {
			infowindow.open(map,marker);
		});
		infowindow.open(map,marker);
	}
	
	google.maps.event.addDomListener(window, 'page:load', init_map);
	google.maps.event.addDomListener(window, 'load', init_map);
</script>