<div id="header" class="clearfix">
	<div id="header-top" class="main-row clearfix">

		<%= link_to root_path do %> 
			<div id="logo"><h1>Пласт-Тара</h1></div>
		<% end %>

		<div id="contacts-header">
			<h2>
				<%= @core_setting.main_phone if @core_setting.main_phone.present? %>
			</h2>
			<p><a class="scroll" href="#footer">Заказать звонок</a></p>
		</div>

		<h1 id="descript" class="hidden-xs">
			<%= @core_setting.site_description if @core_setting.site_description.present? %>
		</h1>

	</div>
	
	<div id="header-main-nav" class="clearfix">
		<div class="main-row clearfix">
		
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
<!--				<div class="cleatfix" style="width:calc(100% - 60px); height:60px; float:left;"></div>-->
		
			<ul id="menu" class="nav navbar-nav collapse navbar-collapse">
				<li><%= link_to "Доставка и оплата", "/delivery", class: class_for_current_page("/delivery") %></li>
				<li>
					<% if admin_signed_in? %>
						<%= link_to "Прайс", "/price", class: class_for_current_page("/price") %>
					<% else %>
						<%= link_to "Прайс", @price_list.price.url %>
					<% end %>
				</li>
				<li><%= link_to "Сертификаты", "/cert", class: class_for_current_page("/cert") %></li>
				<li><%= link_to "Контакты", '#footer', class: "scroll" %></li>
				<li><%= link_to "О компании", "/about", class: class_for_current_page("/about") %></li>
			</ul>
			
			<div id="callme-shrinked" class="hidden"><p><a class="scroll" href="#footer"><%= @core_setting.main_phone if @core_setting.main_phone.present? %></a></p></div>
		</div>
	</div>
</div>