<div id="header" class="clearfix">
	<div id="header-top" class="row clearfix">

		<%= link_to root_path do %> 
			<div id="logo"><h1>Пласт-Тара</h1></div>
		<% end %>

		<div id="contacts-header">
			<h2>+7 383 349-94-84</h2>
			<p><a href="#footer">Заказать звонок</a></p>
		</div>

		<h1 id="descript" class="hidden-xs">Производство пластиковой тары</h1>

	</div>
	
	<div id="header-main-nav" class="clearfix">
		<div class="row clearfix">
		
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
<!--				<div class="cleatfix" style="width:calc(100% - 60px); height:60px; float:left;"></div>-->
		
			<ul id="menu" class="nav navbar-nav collapse navbar-collapse">
				<li><%= link_to "Доставка и оплата", "#{root_url}delivery" %></li>
				<li><%= link_to "Прайс", "https://s3.eu-central-1.amazonaws.com/purple-waves/plast-tara/files/Price_04.02.15.xls" %></li>
				<li><%= link_to "Сертификаты", "#{root_url}cert" %></li>
				<li><%= link_to "Контакты", '#footer' %></li>
				<li><%= link_to "О компании", "#{root_url}about" %></li>
			</ul>
			
			<!-- <div class="search-wrapper">
				<input type="text" id="site-search" class="search" placeholder="Поиск" />
				<input type="submit" id="site-search-submit" class="search-submit" name="#" value="" />
			</div> -->
			<div id="callme-shrinked" class="hidden"><p>+<a href="#footer">7 383 349-94-84</a></p></div>
		</div>
	</div>
</div>