<div id="production-menu-wrapper" class="clearfix collapse navbar-collapse">
	<div id="production_menu" class="clearfix" data-no-turbolink >
		<div class="row clearfix">
			<div id="production-menu-inner" class="clearfix">
			
				<% @categories.each do |category| %>
					<%= link_to products_path(filter_category: category.id) do %>
						<% if category.id == @curr_cat_id %>
							<div class="production_category production_category_active clearfix">
						<% else %>
							<div class="production_category clearfix">
						<% end %>
								<%= image_tag(category.icon, class: "category_icon hidden-sm hidden-xs") %>
						 	<div class="category_name_menu">
						 		<div class="name_menu_aligner">
					      	<%= category.name %>
					      </div>
					    </div>
						</div>
					<%end %>	
				<% end %>
				
				<%= link_to applications_path do %>
					<% if current_controller?("applications") %>
						<div class="production_category production_category_active clearfix">
					<% else %>
						<div class="production_category clearfix">
					<% end %>
							<%= image_tag("solutions.png", class: "category_icon hidden-sm hidden-xs") %>
						<div class="category_name_menu">
							<div class="name_menu_aligner">
								<p>Готовые решения</p>
							</div>
						</div>
					</div>
				<%end %>
				
			</div>	
		</div>
	</div>
</div>

<div id="cat-menu-appearer" style="width:100%; display:none;" class="row clearfix">
	<div style="width:20%;" class="clearfix">
		<%= image_tag('box_menu.png', class: "category-icon-hidden hidden-xs") %>
	 	<div style="height:45px; line-height:1.2; font-size:1em;">
    </div>
	</div>
</div>


			       					