<div id="production-menu-wrapper" class="clearfix collapse navbar-collapse">
	<div id="production_menu" class="clearfix">
		<div class="main-row clearfix">
			<div id="production-menu-inner" class="clearfix">
			
				<% @categories.each do |category| %>
					<%= link_to products_path(filter_category: category.id) do %>
						<% if category.id == @curr_cat_id %>
							<div class="production_category active clearfix"
								style="width: <%= ((100.0 / (Category.count + 1)) * 1000).floor / 1000.0  %>%;">
						<% else %>
							<div class="production_category clearfix"
								style="width: <%= ((100.0 / (Category.count + 1)) * 1000).floor / 1000.0  %>%;">
						<% end %>
								<%= image_tag category.thumbnail.url, class: "category_icon hidden-sm hidden-xs" %>
						 	<div class="category_name_menu">
						 		<div class="name_menu_aligner">
					      	<%= category.name %>
					      </div>
					    </div>
						</div>
					<%end %>	
				<% end %>
       
        <%= link_to scrap_path do %>
          <div class="production_category <%= class_for_current_page(scrap_path) %> clearfix"
                  style="width: <%= ((100.0 / (Category.count + 1)) * 1000).floor / 1000.0  %>%;">
            <%= image_tag "recycle.png", class: "category_icon hidden-sm hidden-xs" %>
            <div class="category_name_menu">
              <div class="name_menu_aligner">
                Лом пластмассы
              </div>
            </div>
          </div>
        <% end %>
        
			</div>	
		</div>
	</div>
</div>

<div id="cat-menu-appearer" style="width:100%; display:none;" class="main-row clearfix">
	<div style="width: <%= ((100.0 / Category.count) * 1000).floor / 1000.0  %>%;" class="clearfix">
		<%= image_tag('box_menu.png', class: "category-icon-hidden hidden-xs") %>
	 	<div style="height:45px; line-height:1.2; font-size:1em;">
    </div>
	</div>
</div>