<div id="sidebar" class="clearfix">

	<% if(params.has_key?(:filter_category)) %>
		<%= render 'shared/sidebar_filter' %>
	<% end %>
	
	<% if request.original_url != applications_url %>
		<%= render 'shared/sidebar_ready_solutions' %>
	<% end %>

	<%= render 'shared/sidebar_search' %>

	<div id="comparison" class="sidebar-widget">
		<%= render 'shared/sidebar_comparison' %>
	</div>	

	<div id="cart" class="sidebar-widget">
		<%= render 'shared/sidebar_cart' %>
	</div>
	
	<% if admin_signed_in? %>
		<%= render 'shared/sidebar_admin' %>
	<% end %>

</div>