<div id="sidebar" class="clearfix">

	<% if(params.has_key?(:filter_category)) %>
	<!-- <h2 class="catalogue-title"><%= Category.find(@curr_cat_id).name %></h2> -->

	<div id="catalogue">
		<ul>
			<% if Product.filter_category(@curr_cat_id).filter_type(@type_names).present? %>
				<li>
					<p>По типу</p>
					<ul id="catalogue-type">
						<% @types.each do |type| %>
							<% if Product.filter_category(@curr_cat_id).filter_type(type.name).present? %>
								<%= link_to products_path(filter_category: @curr_cat_id, filter_type: type.name) do %>
									<li <%= "class=catalogue_toggled" if type.name == @curr_type_name %>><%= type.name %></li>
								<% end %>
							<% end %>
						<% end %>
					</ul>
				</li>
			<% end %>
			<% if Product.filter_category(@curr_cat_id).filter_application(@application_names).present? %>
				<li>
					<p>По сферам применения</p>
					<ul id="catalogue-application">
						<% @applications.each do |application| %>
							<% if Product.filter_category(@curr_cat_id).filter_application(application.name).present? %>
								<%= link_to products_path(filter_category: @curr_cat_id, filter_application: application.name) do %>
									<li <%= "class=catalogue_toggled" if application.name == @curr_app_name %>><%= application.name %></li>
								<% end %>
							<% end %>
						<% end %>
					</ul>
				</li>
			<% end %>
			<li>
				<%= link_to products_path(filter_category: @curr_cat_id) do %>
					<p>Вся продукция категории</p>
				<% end %>
			</li>
		</ul>
	</div>
	<% else %>
		<div style="height:12px;"></div>
	<% end %>

		<div id="catalogue-search-wrapper" class="search-wrapper">
			<%= form_tag(products_path, :method => "get") do %>
	 			<%= text_field_tag :search, params[:search], id: "catalogue-search", class: "search", placeholder: "Поиск по всему каталогу" %>
	  		<%= submit_tag "", :name => nil, id: "catalogue-search-submit", class: "search-submit" %>
			<% end %>
		</div>

	<div id="calc-wrapper" class="clearfix">
		<h2 class="calc-title">Калькулятор объема</h2>
		<select class="calc-dropdown">
		  <option value="volvo">Ящик №1 (овощной)</option>
		  <option value="saab">Ящик №2/п (овощной)</option>
		  <option value="mercedes">Ящик №3 (овощной)</option>
		  <option value="audi">Ящик №4 (Тетрапак)</option>
		  <option value="audi">Ящик №5 (Творожный)</option>
		  <option value="audi">Ящик №6 (Полипак)</option>
		</select>
		<input type="text" id="" class="calc-quantity" />
		<select class="calc-dropdown">
		  <option value="volvo">Ящик №1 (овощной)</option>
		  <option value="saab">Ящик №2/п (овощной)</option>
		  <option value="mercedes">Ящик №3 (овощной)</option>
		  <option value="audi">Ящик №4 (Тетрапак)</option>
		  <option value="audi">Ящик №5 (Творожный)</option>
		  <option value="audi">Ящик №6 (Полипак)</option>
		</select>
		<input type="text" id="" class="calc-quantity" />
		<input type="submit" id="additem" class="calc-button" value="Добавить" />
		<input type="submit" id="calculate" class="calc-button" value="Посчитать" />
	</div>

	<%= link_to "Скачать прайс-лист", "#", class: "sidebar-link" %>
	<%= link_to "Рассчитать стоимость доставки", "#{root_url}delivery", class: "sidebar-link" %>
</div>