<div id="sidebar" class="clearfix">

	<% if(params.has_key?(:filter_category)) %>
	<!-- <h2 class="catalogue-title"><%= Category.find(@curr_cat_id).name %></h2> -->

	<div id="catalogue">
		<ul>
			<% if Product.filter_category(@curr_cat_id).filter_type(@type_names).present? %>
				<li>
					<p>По типу</p>
					<ul id="catalogue-type">
						<% @types.each do |type| %>
							<% if Product.filter_category(@curr_cat_id).filter_type(type.name).present? %>
								<%= link_to products_path(filter_category: @curr_cat_id, filter_type: type.name) do %>
									<li <%= "class=catalogue_toggled" if type.name == @curr_type_name %>><%= type.name %></li>
								<% end %>
							<% end %>
						<% end %>
					</ul>
				</li>
			<% end %>
			<% if Product.filter_category(@curr_cat_id).filter_application(@application_names).present? %>
				<li>
					<p>По сферам применения</p>
					<ul id="catalogue-application">
						<% @applications.each do |application| %>
							<% if Product.filter_category(@curr_cat_id).filter_application(application.name).present? %>
								<%= link_to products_path(filter_category: @curr_cat_id, filter_application: application.name) do %>
									<li <%= "class=catalogue_toggled" if application.name == @curr_app_name %>><%= application.name %></li>
								<% end %>
							<% end %>
						<% end %>
					</ul>
				</li>
			<% end %>
			<li>
				<%= link_to products_path(filter_category: @curr_cat_id) do %>
					<p>Вся продукция категории</p>
				<% end %>
			</li>
		</ul>
	</div>
	<% else %>
		<div style="height:12px;"></div>
	<% end %>

		<div id="catalogue-search-wrapper" class="search-wrapper">
			<%= form_tag(products_path, :method => "get") do %>
	 			<%= text_field_tag :search, params[:search], id: "catalogue-search", class: "search", placeholder: "Поиск по всему каталогу" %>
	  		<%= submit_tag "", :name => nil, id: "catalogue-search-submit", class: "search-submit" %>
			<% end %>
		</div>

	<br>

	<% if admin_signed_in? %>
		<%= link_to "Выйти из админки", destroy_admin_session_path, method: :delete, id: "admin-link" %>
	<% else %>
		<%= link_to "Войти в админку", new_admin_session_path, id: "admin-link" %>
	<% end %>

</div>