<br>
<% if admin_signed_in? %>
	<p class="admin-p">Вы вошли как <%= current_admin.email %></p>
	<%= link_to "Редактировать", edit_admin_registration_path, class: "admin-link" %> |
	<%= link_to "Выйти", destroy_admin_session_path, method: :delete %>
	<br>
<%= link_to "Управление администраторами", '/manage_admins', class: "admin-link" %>
<% else %>
	<%= link_to "Войти в админку", new_admin_session_path, class: "admin-link" %>
<% end %>