<p class="admin-p">Вы вошли как <%= current_admin.email %></p>
<%= link_to "Редактировать", edit_admin_registration_path, class: "admin-link" %> |
<%= link_to "Выйти", destroy_admin_session_path, method: :delete %>
<br>
<%= link_to "Управление администраторами", admins_path, class: "admin-link" %>
<br><br>

<%= link_to "Редактировать цены и позиции", edit_prices_path, class: "admin-link" %><br>
<%= link_to "Обновить прайс-лист", price_list_path, class: "admin-link" %><br>
<%= link_to "Редактировать акции", edit_promos_path, class: "admin-link" %>
<%= link_to "Редактировать категории", categories_path, class: "admin-link" %>
<br><br>

<% if CoreSetting.find(1).present? %>
	<%= link_to "Настройки сайта", edit_core_settings_path, class: "admin-link" %>
<% end %>