<% if current_page?(root_url) && unit_active? %>
	<div class="main-row hidden-xs relative">
	
		<% if admin_signed_in? %>
			<%= link_to "Редактировать", edit_promo_path, class: "admin-edit-link-right-promo mright30" %>
		<% end %>
		
		<ul id="slider" class="bxslider">
			<% @promo.promo_units.each do |unit| %>
				<% if unit.active? %>
					<li>
						<div id="promo">
							<div id="promo-content">
								<%= link_to (image_tag unit.image), unit.link %>
								<div id="promo-text">
									<h1><%= unit.title %></h1>
									<h2><%= unit.subtitle %>&nbsp; &nbsp; <span><%= link_to "Подробнее", unit.link %></span></h2>
									<p class="hidden-xs hidden-sm"><%= unit.description %></p>
								</div>
							</div>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>

	</div>
<% end %>