<div class="cart-row col-xs-12" id="order-item-<%= order_item.id %>">
	<h3>
		<%= product.name %>
		<%= link_to order_item, method: :delete, remote: true, class: "admin-icon-delete-cart-row" do %>
			<i class="glyphicon glyphicon-remove"></i>
		<% end %>
	</h3>
	<div class="col-md-3 col-sm-4 col-xs-3 cart-thumb-wrapper">
		<%= link_to product do %>
			<%= image_tag product.thumbnail.url(:thumb), class: "cart-thumb" %>
		<% end %>
	</div>
	<div class="col-md-9 col-sm-8 col-xs-9 cart-form-wrapper">
		<%= form_for order_item, remote: true do |f| %>
			<% if var_color?(product) %>
				<div class="row cart-quantity-row">
					<h4 class="cart-quantity-title">Цветной</h4>
					<%= f.text_field :color_quantity, value: order_item.color_quantity.to_i,
																					min: 0, class: "form-control cart-quantity" %>
					<h4>&nbsp;x&nbsp;<%= order_item.var_price("color") %> <i class='glyphicon glyphicon-ruble'></i></h4>
					<% if order_item.color_quantity > 0 %>
					<h4>&nbsp;= <%= order_item.color_quantity * order_item.var_price("color") %> <i class='glyphicon glyphicon-ruble'></i></h4>
					<% end %>
				</div>	
			<% end %>
			<% if var_high?(product) %>
				<div class="row cart-quantity-row">
					<h4 class="cart-quantity-title">Высший сорт</h4>
					<%= f.text_field :high_quantity, value: order_item.high_quantity.to_i,
																					min: 0, class: "form-control cart-quantity" %>
					<h4>&nbsp;x&nbsp;<%= order_item.var_price("high") %> <i class='glyphicon glyphicon-ruble'></i></h4>
					<% if order_item.high_quantity > 0 %>
					<h4>&nbsp;= <%= order_item.high_quantity * order_item.var_price("high") %> <i class='glyphicon glyphicon-ruble'></i></h4>
					<% end %>
				</div>
			<% end %>
			<% if var_spec?(product) %>
				<div class="row cart-quantity-row">
					<h4 class="cart-quantity-title">Спецпредложение</h4>
					<%= f.text_field :spec_quantity, value: order_item.spec_quantity.to_i,
																					min: 0, class: "form-control cart-quantity" %>
					<h4>&nbsp;x&nbsp;<%= order_item.var_price("spec") %> <i class='glyphicon glyphicon-ruble'></i></h4>
					<% if order_item.spec_quantity > 0 %>
					<h4>&nbsp;= <%= order_item.spec_quantity * order_item.var_price("spec") %> <i class='glyphicon glyphicon-ruble'></i></h4>
					<% end %>
				</div>
			<% end %>
			<%= f.hidden_field :product_id, value: product.id %>
			
			<%= f.submit "", class: "btn-hidden submit-cart-row" %>
			
      <div class="cart-item-total">
				<h4>Общая цена: <%= order_item.item_total %> <i class='glyphicon glyphicon-ruble'></i></h4>
			</div>
		<% end %>
	</div>
</div>