<h1>Корзина
	
	<%= link_to empty_order_path, class: "icon-empty", data: { confirm: "Очистить корзину?" } do %>
		<i class="glyphicon glyphicon-erase"></i>
	<% end %>
</h1>

<% if @order_items.size == 0 %>
  <%= render 'orders/empty_orders_text' %>
<% else %>

	<div id="cart-rows">
		<% @order_items.each do |order_item| %>
		<%= render 'orders/cart_row', product: order_item.product, order_item: order_item %>
		<% end %>
	</div>

	<h2 class="cart-total-price">Итого: <%= @order.total %> <i class='glyphicon glyphicon-ruble'></i></h2>
	<div class="clearfix"></div>

<%= form_for @order, remote: true do |f| %>
		<div class="mail-cart-info col-sm-4">
			<%= f.text_field :customer_name, placeholder: "Ваше имя", class: "form-field-cart" %>
			<%= f.text_field :customer_contact, placeholder: "Контактная информация", class: "form-field-cart" %>
		</div>
		<div class="mail-cart-message col-sm-8">
			<%= f.text_area :customer_message, placeholder: "Сообщение (опционально)", class: "form-area-cart" %>
		</div>

	<div id="order-form-controls">
		<% f.submit "Save", class: "btn" %>
		<%= link_to "Отправить заказ", send_order_email_path, class: "btn btn-primary cart-submit" %>
		<%= link_to "Сохранить как PDF", order_path(format: 'pdf'),
			class: "btn btn-default cart-submit" %>
		<%= link_to "Очистить корзину", empty_order_path, method: :get,
	class: "admin-edit-link cart-submit cart-submit-link", data: { confirm: "Уверены?" }  %>
	</div>

	<% end %>
	
<% end %>