<h1>Корзина
	
	<%= link_to empty_order_path, class: "icon-empty", data: { confirm: "Очистить корзину?" } do %>
		<i class="glyphicon glyphicon-erase"></i>
	<% end %>
</h1>

<% if @order_items.size == 0 %>
  <%= render 'empty_orders_text' %>
<% else %>

	<div id="cart-rows">
		<% @order_items.each do |order_item| %>
		<%= render 'orders/cart_row', product: order_item.product, order_item: order_item %>
		<% end %>
	</div>

	<h2 class="cart-total-price">Итого: <%= @order.total %> <i class='glyphicon glyphicon-ruble'></i></h2>
	<div class="clearfix"></div>

	<%= form_for @order do |f| %>
		<div class="mail-cart-info col-sm-4">
			<%= f.text_field :customer_name, required: true, placeholder: "Ваше имя", class: "form-field-cart" %>
			<%= f.text_field :customer_contact, required: true, placeholder: "Контактная информация", class: "form-field-cart" %>
		</div>
		<div class="mail-cart-message col-sm-8">
			<%= f.text_area :customer_message, placeholder: "Сообщение (опционально)", class: "form-area-cart" %>
		</div>

		<%= f.submit "Отправить заказ", class: "btn btn-primary cart-submit" %>
<%= link_to "Очистить корзину", empty_order_path, method: :get, class: "btn btn-default cart-submit", data: { confirm: "Уверены?" }  %>
	<% end %>
	
<% end %>