<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="actions">
		<%= button_tag(type: 'submit', class: "admin-icon-submit") do %>
			<i class="glyphicon glyphicon-ok"></i> 
		<% end %>
		<%= link_to @page, class: "admin-icon-return" do %>
			<i class="glyphicon glyphicon-arrow-left"></i>
		<% end %>
  </div>

  <div class="field">
    <%= f.label "Заголовок" %><br>
		<%= f.text_field :name, class: "form-field-admin" %>
  </div>
  <div class="field">
		<%= f.text_area :content, class: "froala" %>
		<br>
  </div>
  
	<div class="field">
		<%= f.label "Meta title" %><br>
		<%= f.text_field :meta_title, class: "form-field-admin" %>
	</div>

	<div class="field">
		<%= f.label "Meta description" %><br>
		<%= f.text_field :meta_description, class: "form-field-admin" %>
	</div>
	<br>
  
  <div class="actions">
		<%= link_to 'Назад', @page, class: "admin-edit-link-back" %>
		<%= f.submit "Обновить", class: "btn btn-primary " %>
  </div>
<% end %>
