<div id="header" class="clearfix">
	<div id="header-top" class="row clearfix">

		<a href="">
			<div id="logo">
					<h1>Пласт-Тара</h1>
			</div>
		</a>

		<div id="contacts-header">
			<h2><span>(383)</span> 349 94 84</h2>
			<p><a href="#">Заказать звонок</a></p>
		</div>

		<h1 id="descript">Производство пластиковой тары</h1>

	</div>
	
	<div id="header-main-nav" class="clearfix">
		<div class="row clearfix relative">
			<ul id="menu">
				<li><a href="">Доставка и оплата</a></li>
				<li><a href="">Сертификаты</a></li>
				<li><a href="">Контакты</a></li>
				<li><a href="">О компании</a></li>
			</ul>
			<div class="search-wrapper">
				<input type="text" id="site-search" class="search" placeholder="Поиск" />
				<input type="submit" id="site-search-submit" class="search-submit" name="#" value="" />
			</div>
			<div id="callme-shrinked" class="hidden"><p><a href="#">Заказать звонок</a></p></div>
		</div>
	</div>

</div>

<div class="row">
	<div id="slider">
		<div id="promo">
			<%= link_to image_tag("arrow-left.png", id: "arrow-left", class: "banner-arrow"), "#" %>
			<div id="promo-content">
				<%= image_tag("MOT.png") %>
				<div id="promo-text">
					<h1>Складские системы MOT</h1>
					<h2>От 120 рублей за штуку!&nbsp;&nbsp;&nbsp;&nbsp; <span><a href="#">Подробнее</a></span></h2>
					<p>Складские системы для хранения мелких или сыпучих изделий: метизов, деталей, инструментов, медикаментов, продуктов питания, полиграфии.</p>
				</div>
			</div>
			<%= link_to image_tag("arrow-right.png", id: "arrow-right", class: "banner-arrow"), "#" %>
		</div>	
	</div>
</div>

<div id="main-content" class="row clearfix">

	<div id="sidebar" class="clearfix">
		<h2 class="catalogue-title">Каталог продукции</h2>
		<div id="catalogue">
			<ul>
				<li><a href="javascript:toggleDiv('catalogue-type');"><p>По типу</p></a>
					<ul id="catalogue-type">
						<li>Глухие</li>
						<li>Штабилируемые</li>
						<li>Вкладываемые</li>
						<li>Решетчатые</li>
						<li>Перфорированные</li>
						<li>Крышки</li>
						<li>Паллеты</li>
					</ul>
				</li>
				<li><a href="javascript:toggleDiv('catalogue-sphere');"><p>По сферам применения</p></a>
					<ul id="catalogue-sphere">
						<li>Рыбное производство</li>
						<li>Птицефабрики</li>
						<li>Мясное производство</li>
						<li>Хранение овощей </li>
						<li>Внутрицеховая тара </li>
						<li>Молочное производство</li>
						<li>Многоцелевая тара</li>
						<li>Складская тара</li>
						<li>Мусорные контейнеры</li>
					</ul>
				</li>
				<li><a href=""><p>Вся продукция</p></a></li>
			</ul>
			<div id="catalogue-search-wrapper" class="search-wrapper">
					<input type="text" id="catalogue-search" class="search" placeholder="Поиск по каталогу" />
					<input type="submit" id="catalogue-search-submit" class="search-submit" name="#" value="" />
			</div>
		</div>

		<div id="calc-wrapper" class="clearfix">
			<h2 class="calc-title">Калькулятор объема</h2>
			<select class="calc-dropdown">
			  <option value="volvo">Ящик №1 (овощной)</option>
			  <option value="saab">Ящик №2/п (овощной)</option>
			  <option value="mercedes">Ящик №3 (овощной)</option>
			  <option value="audi">Ящик №4 (Тетрапак)</option>
			  <option value="audi">Ящик №5 (Творожный)</option>
			  <option value="audi">Ящик №6 (Полипак)</option>
			</select>
			<input type="text" id="" class="calc-quantity" />
			<select class="calc-dropdown">
			  <option value="volvo">Ящик №1 (овощной)</option>
			  <option value="saab">Ящик №2/п (овощной)</option>
			  <option value="mercedes">Ящик №3 (овощной)</option>
			  <option value="audi">Ящик №4 (Тетрапак)</option>
			  <option value="audi">Ящик №5 (Творожный)</option>
			  <option value="audi">Ящик №6 (Полипак)</option>
			</select>
			<input type="text" id="" class="calc-quantity" />
			<input type="submit" id="additem" class="calc-button" value="Добавить" />
			<input type="submit" id="calculate" class="calc-button" value="Посчитать" />
		</div>
		<a href="#"><p id="delivery-cost">Рассчитать стоимость доставки</p></a>
	</div>

	<div id="main-col" class="clearfix">
<h1>Производство пластиковой тары<h1>
<h2>Качество и все остальное в комплекте</h2>

		<p>Vivamus viverra nisi sed neque sodales consequat. Maecenas hendrerit semper orci, ut ultrices mi. Cras semper consectetur mauris, vitae consectetur massa consequat sit amet. Nam id risus fermentum, blandit urna a, placerat nisl. Duis laoreet ex ut molestie blandit. Donec suscipit aliquam mollis. In eget orci venenatis, lacinia urna eu, lobortis risus. Phasellus ipsum justo, consectetur eu erat at, placerat congue ligula. Donec consectetur justo sit amet luctus semper. Mauris eget justo consequat, viverra magna ut, dictum turpis. Pellentesque varius, eros sit amet luctus posuere, dui sem commodo mi, ut elementum turpis urna in lacus. Integer et feugiat arcu, non maximus ex.</p>

<p>Suspendisse iaculis vel odio et hendrerit. Nunc eget cursus quam, eget convallis leo. Donec vel nisi in mauris blandit venenatis a at tortor. Fusce aliquet convallis scelerisque. Nullam sagittis ultricies tincidunt. Duis vitae tristique mi, sit amet blandit lacus. In diam purus, mollis at fringilla id, dapibus eleifend ipsum. Nam nec ligula tellus. Maecenas commodo odio sed ultrices pretium. Suspendisse mi mauris, varius nec pretium vel, auctor eget lacus.</p>

<p>Morbi euismod ligula magna, nec varius ligula aliquam non. Sed ut lorem nec sem viverra pretium. Nulla placerat leo nec urna malesuada, ut mattis nibh pulvinar. Pellentesque consequat magna gravida diam tincidunt, finibus feugiat erat luctus. Phasellus scelerisque aliquet mauris. Curabitur nec lobortis metus. Aliquam quis ultrices enim, nec iaculis orci. Sed sed odio hendrerit metus finibus fermentum quis eget nibh. Nam eget mauris ut turpis sagittis facilisis. Maecenas at tempus sapien, ut pulvinar sem.</p>

<p>Mauris congue feugiat maximus. Phasellus vestibulum mauris ac ipsum sollicitudin pulvinar sit amet vel velit. Vivamus blandit ligula in dui finibus maximus. Cras at elit sit amet nunc rhoncus pretium id at elit. Quisque vitae consequat odio. Morbi id metus in velit tincidunt euismod. Integer lacinia dolor enim, eleifend dictum metus condimentum et. Praesent ligula urna, tincidunt a lacus at, maximus bibendum dui. Quisque sed elementum neque. Donec massa diam, aliquam eu sollicitudin et, sollicitudin ac orci. Pellentesque a gravida leo, sit amet sodales eros. Maecenas at dolor fermentum, vestibulum quam non, maximus augue. Mauris eu mauris et nulla vestibulum consectetur et et est. Nunc porttitor quam vitae massa ullamcorper placerat a pretium justo. Pellentesque vitae ligula a lectus pulvinar tempus non id sapien. Fusce sit amet tempus urna, nec aliquet leo.</p>

<p>Vivamus accumsan sed augue eget maximus. Maecenas egestas nisi odio, ut dapibus lorem semper non. Donec luctus tempus elit eget consequat. Integer a dolor quis elit auctor facilisis nec sed ex. Nulla condimentum orci sit amet feugiat mollis. Aliquam neque felis, iaculis ac libero ac, faucibus condimentum nisl. Nam facilisis nisl mi, vel convallis justo aliquet in. Curabitur vehicula pretium nisi, non egestas enim posuere sit amet. Nunc nulla dui, tempus nec elit ut, auctor rhoncus metus. Quisque a semper felis.</p>
	</div>
	
</div>

<div id="footer" class="clearfix">
	<div class="row">
		<div id="contacts-wrapper" class="footer-wrappers row clearfix">
			<h2>Контактная информация</h2>
			<div id="contact-form" class="clearfix">
				<input type="text" id="form-name" class="form-field" placeholder="Имя" />
				<input type="text" id="form-contact" class="form-field" placeholder="Телефон/электропочта" />
				<textarea id="form-message" class="form-area" placeholder="Сообщение"></textarea>
				<input type="submit" id="form-button" value="Отправить сообщение" />
			</div>
			<div id="footer-contacts">
				<p>(383) 349-94-84</p>
				<p>info@plast-tara.ru</p>
				<p id="address">г. Новосибирск, ул. Станционная 30/А, корпус 10</p>
			</div>
		</div>
		<div id="cert-wrapper" class="footer-wrappers clearfix">
			<h2>Сертификаты</h2>
			<%= image_tag("cert1.jpg", class: "certs") %>
			<%= image_tag("cert1.jpg", class: "certs") %>
		</div>
	</div>
</div>

<!--Fix navbar when scrolled-->
<script>
  $(window).scroll(function(){
      if ($(this).scrollTop() > 90) {
          $('#header-main-nav').addClass('navbar-fixed');
          $('#logo h1').addClass('hidden');
          $('#logo').addClass('logo-shrinked');
          $('#menu').addClass('menu-shrinked');
          $('#site-search').addClass('site-search-shrinked');
          $('#callme-shrinked').removeClass('hidden');
      } else {
          $('#header-main-nav').removeClass('navbar-fixed');
          $('#logo h1').removeClass('hidden');
          $('#logo').removeClass('logo-shrinked');
          $('#menu').removeClass('menu-shrinked');
          $('#site-search').removeClass('site-search-shrinked');
          $('#callme-shrinked').addClass('hidden');
      }
  });
</script>

<!--Toggle production menu-->
<script type="text/javascript">
function toggleDiv(toggleId) {
   $("#"+toggleId).slideToggle(200);
}
</script>