<!-- <p id="notice"><%= notice %></p> -->

<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Address full</th>
      <th>Address short</th>
      <th>Email</th>
      <th>Phone main</th>
      <th>Phone other</th>
      <th>Map</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.address_full %></td>
        <td><%= contact.address_short %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone_main %></td>
        <td><%= contact.phone_other %></td>
        <td><%= contact.map %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
