<div class="row cart-row">
	<div class="row">
		<h3><%= product.name %></h3>
	</div>
	<div class="col-md-4 col-sm-5 col-xs-4">
		<%= link_to product do %>
			<%= image_tag product.thumbnail.url(:thumb), class: "cart-thumb" %>
		<% end %>
	</div>
	<div class="col-md-8 col-sm-7 col-xs-8">
		<%= form_for order_item, remote: true do |f| %>
			<% if product.var_color? %>
				<h4>Цветной</h4>
				<%= f.number_field :color_quantity, value: order_item.color_quantity.to_i,
																												min: 0, class: "form-control" %>
			<% end %>
			<% if product.var_high? %>
				<h4>Высший сорт</h4>
				<%= f.number_field :high_quantity, value: order_item.high_quantity.to_i,
																												min: 0, class: "form-control" %>
			<% end %>
			<% if product.var_spec? %>
				<h4>Спецпредложение</h4>
				<%= f.number_field :spec_quantity, value: order_item.spec_quantity.to_i,
																												min: 0, class: "form-control" %>
			<% end %>
			<%= f.hidden_field :product_id, value: product.id %>
			
			<div class="cart-buttons btn-group">
      <%= f.submit "Пересчитать", remote: true, class: "btn btn-primary" %>
				<%= link_to "Удалить", order_item, { data: { confirm: "Уверены?" }, method: :delete, remote: true, class: "btn btn-default" } %>
      </div>
      <div class="cart-item-total">
				<h4>Общая цена: <%= order_item.item_total %> <i class='glyphicon glyphicon-ruble'></i></h4>
			</div>
		<% end %>
	</div>
</div>