<h1>Корзина
	
	<%= link_to empty_cart_path, method: :get, class: "icon-empty", data: { confirm: "Очистить корзину?" } do %>
		<i class="glyphicon glyphicon-erase"></i>
	<% end %>
</h1>

<% if @order_items.size == 0 %>
  <p>
		В корзине пусто. Пожалуйста, <%= link_to "вернитесь в каталог", products_path(filter_category: Category.first.id) %> чтобы добавить товары.
  </p>
  
<% else %>
	
	<div id="cart-rows">
		<% @order_items.each do |order_item| %>
			<%= render 'carts/cart_row', product: order_item.product, order_item: order_item %>
		<% end %>
	</div>
  
	<br>
	<h2 class="cart-total-price">Итого: <%= current_order.total %> <i class='glyphicon glyphicon-ruble'></i></h2>
	<h2 class="cart-total-vol">Общий объем: <%= current_order.total_vol %> м3</h2>
	<div class="clearfix"></div>
	<%= link_to "Отправить заказ", "#", class: "btn btn-primary cart-submit" %>
	
<% end %>