<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Название" %><br>
    <%= f.text_field :name, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Описание" %><br>
    <%= f.text_area :description, class: "form-area-admin" %>
  </div>
  <div class="field">
    <%= f.label "Короткое описание" %><br>
    <%= f.text_area :short_description, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Галерея" %><br>
    <%= f.text_field :gallery, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Размер (габариты)" %><br>
    <%= f.text_field :size, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Размер с крышкой" %><br>
    <%= f.text_field :size_with_cover, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Размер крышки" %><br>
    <%= f.text_field :cover_size, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Вместительность" %><br>
    <%= f.text_field :capacity, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Объем" %><br>
    <%= f.number_field :volume, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Полезный объем" %><br>
    <%= f.number_field :net_volume, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Параметры" %><br>
    <%= f.text_field :parameter, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Опции цвета" %><br>
    <%= f.text_field :color, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цветной? (опция)" %><br>
    <%= f.check_box :var_color %>
  </div>
  <div class="field">
    <%= f.label "Цена цветной опции 1" %><br>
    <%= f.number_field :var_color_price_1, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена цветной опции 2" %><br>
    <%= f.number_field :var_color_price_1, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена цветной опции 3" %><br>
    <%= f.number_field :var_color_price_1, class: "form-field-admin" %>
  </div>
  <div class="field product-var">
    <%= f.label "Высший сорт? (опция)" %><br>
    <%= f.check_box :var_high %>
  </div>
  <div class="field">
    <%= f.label "Цена опции высшего класса 1" %><br>
    <%= f.number_field :var_high_price_1, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена опции высшего класса 2" %><br>
    <%= f.number_field :var_high_price_2, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена опции высшего класса 3" %><br>
    <%= f.number_field :var_high_price_3, class: "form-field-admin" %>
  </div>
  <div class="field product-var">
    <%= f.label "Спецпредложение? (опция)" %><br>
    <%= f.check_box :var_spec %>
  </div>
  <div class="field">
    <%= f.label "Цена опции спецпредложения 1" %><br>
    <%= f.number_field :var_spec_price_1, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена опции спецпредложения 2" %><br>
    <%= f.number_field :var_spec_price_2, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена опции спецпредложения 3" %><br>
    <%= f.number_field :var_spec_price_3, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Продвигаемый товар?" %><br>
    <%= f.check_box :featured %>
  </div>
  <div class="actions">
    <%= link_to 'Назад', products_path, class: "admin-edit-link-back" %>
    <%= f.submit "Создать/Обновить", class: "form-button-admin" %>
  </div>
<% end %>
