<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "Название" %><br>
    <%= f.text_field :name, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Категория" %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, class: "form-field-admin") %>
  </div>
  <div class="field">
    <%= f.label "Опции цвета" %><br>

    <% color_vars = ["blue","red","green","white","yellow","grey","black"] %>
    <% color_vars.each do |c| %>

    <% end %>

  </div>

  <div class="field">
    <%= f.label "Длина" %><br>
    <%= f.text_field :length, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Ширина" %><br>
    <%= f.text_field :width, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Высота" %><br>
    <%= f.text_field :height, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Диаметер" %><br>
    <%= f.text_field :diameter, class: "form-field-admin" %>
  </div>

  <div class="field">
    <%= f.label "Внутренняя длина" %><br>
    <%= f.text_field :inner_length, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Внутренняя ширина" %><br>
    <%= f.text_field :inner_width, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Внутренняя высота" %><br>
    <%= f.text_field :inner_height, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Внутренняя диаметер" %><br>
    <%= f.text_field :inner_diameter, class: "form-field-admin" %>
  </div>

  <div class="field">
    <%= f.label "Объем" %><br>
    <%= f.number_field :volume, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Полезный объем" %><br>
    <%= f.number_field :net_volume, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Вес" %><br>
    <%= f.number_field :weight, class: "form-field-admin" %>
  </div>

  <div class="field">
    <%= f.label "Стенки" %><br>
    <%= f.text_field :side, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Дно" %><br>
    <%= f.text_field :bottom, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Типы" %><br>
    <%= f.text_field :types, class: "form-field-admin" %>
  </div>

  <div class="field">
    <%= f.label "Есть крышка?" %><br>
    <%= f.check_box :cover %>
  </div>

  <div class="field">
    <%= f.label "Статическая нагрузка" %><br>
    <%= f.number_field :static_load, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Динамическая нагрузка" %><br>
    <%= f.number_field :dynamic_load, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Стеллажная нагрузка" %><br>
    <%= f.number_field :rack_load, class: "form-field-admin" %>
  </div>

  <div class="field">
    <%= f.label "Вместительность" %><br>
    <%= f.text_field :capacity, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Галерея" %><br>
    <%= f.text_field :gallery, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Описание" %><br>
    <%= f.text_area :description, class: "form-area-admin" %>
  </div>

  <div class="field">
    <%= f.label "Цветной? (опция)" %><br>
    <%= f.check_box :var_color %>
  </div>
  <div class="field">
    <%= f.label "Цена цветной опции 1" %><br>
    <%= f.number_field :var_color_price_1, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена цветной опции 2" %><br>
    <%= f.number_field :var_color_price_1, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена цветной опции 3" %><br>
    <%= f.number_field :var_color_price_1, class: "form-field-admin" %>
  </div>
  <div class="field product-var">
    <%= f.label "Высший сорт? (опция)" %><br>
    <%= f.check_box :var_high %>
  </div>
  <div class="field">
    <%= f.label "Цена опции высшего класса 1" %><br>
    <%= f.number_field :var_high_price_1, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена опции высшего класса 2" %><br>
    <%= f.number_field :var_high_price_2, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена опции высшего класса 3" %><br>
    <%= f.number_field :var_high_price_3, class: "form-field-admin" %>
  </div>
  <div class="field product-var">
    <%= f.label "Спецпредложение? (опция)" %><br>
    <%= f.check_box :var_spec %>
  </div>
  <div class="field">
    <%= f.label "Цена опции спецпредложения 1" %><br>
    <%= f.number_field :var_spec_price_1, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена опции спецпредложения 2" %><br>
    <%= f.number_field :var_spec_price_2, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Цена опции спецпредложения 3" %><br>
    <%= f.number_field :var_spec_price_3, class: "form-field-admin" %>
  </div>

  <div class="field">
    <%= f.label "Сферы применения" %><br>
    <%= f.text_field :applications, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Артикул" %><br>
    <%= f.text_field :articul, class: "form-field-admin" %>
  </div>
  <div class="field">
    <%= f.label "Позиция" %><br>
    <%= f.number_field :position, class: "form-field-admin" %>
  </div>

  <div class="field">
    <%= f.label "Продвигаемый товар?" %><br>
    <%= f.check_box :featured %>
  </div>
  <div class="field">
    <%= f.label "Рекламная кампания" %><br>
    <%= f.number_field :campaign, class: "form-field-admin" %>
  </div>

  <div class="actions">
    <%= link_to 'Назад', products_path, class: "admin-edit-link-back" %>
    <%= f.submit "Создать/Обновить", class: "form-button-admin" %>
  </div>
<% end %>