<%= link_to product_path(product.id, filter_category: @curr_cat_id), class: "no-border" do %>
	<div class="product-index col-lg-3 col-md-4 col-sm-6">

		<h3><%= product.name %></h3>
		
		<% if product.diameter.present? && product.height.present? %>
			<% if product.volume.present? %>
		<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}x#{product.height}мм | #{product.volume}л" %></p>
			<% else %>
		<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}x#{product.height}мм" %></p>
			<% end %>
		<% elsif product.length.present? && product.width.present? && product.height.present?  %>
			<% if product.volume.present? %>
				<p class="product-index-dimensions"><%= "#{product.length}x#{product.width}x#{product.height}мм | #{product.volume}л" %></p>
			<% else %>
				<p class="product-index-dimensions"><%= "#{product.length}x#{product.width}x#{product.height}мм" %></p>
			<% end %>
		<% else %>
			<p class="product-index-dimensions">&nbsp;</p>
		<% end %>

		<%= image_tag product.thumbnail.url(:thumb) %>

		<% if product.var_color || product.var_high || product.var_spec %>
			<% 
				prices = []
				prices << product.var_color_price_1 if product.var_color_price_1.present?
				prices << product.var_color_price_2 if product.var_color_price_2.present?
				prices << product.var_color_price_3 if product.var_color_price_3.present?
				prices << product.var_high_price_1 if product.var_high_price_1.present?
				prices << product.var_high_price_2 if product.var_high_price_2.present?
				prices << product.var_high_price_3 if product.var_high_price_3.present?
				prices << product.var_spec_price_1 if product.var_spec_price_1.present?
				prices << product.var_spec_price_2 if product.var_spec_price_2.present?
				prices << product.var_spec_price_3 if product.var_spec_price_3.present?
			%>
			<p class="product-index-price">
				От <%= prices.min %> <span><i class="glyphicon glyphicon-ruble"></i></span>
			</p>
		<% else %>
			<p class="product-index-price">&nbsp;</p>
		<% end %>

		<%= link_to "#add_to_cart", class: "admin-index-icons" do %>
				<i class="glyphicon glyphicon-shopping-cart"></i>
		<% end %>
		
		<% if admin_signed_in? %>
			<span class="admin-index-icons-devider">|</span>
			<%= link_to edit_product_path(product), class: "admin-index-icon-edit" do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to product, method: :delete, data: { confirm: 'Уверены? Необратимо.' }, class: "admin-index-icon-delete" do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
		<% end %>

	</div>
<% end %>