<% if product.active? || admin_signed_in?  %>
<% if product.active? %>
	<% module_class = "product-index" %>
<% else %>
	<% module_class = "product-index product-inactive" %>
<% end %>
	
<div id="product-index-<%= product.id %>" class="<%= module_class %> col-lg-3 col-md-4 col-sm-6">
		
		<%= link_to product_path(product.id, filter_category: @curr_cat_id), class: "no-border" do %>
			<h3 title="<%= product.name %>"><%= product.name %></h3>
		<% end %>

		<% if product.diameter.present? %>
			<% if product.volume.present? && product.height.present? %>
				<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}x#{product.height}мм | #{product.volume}л" %></p>
			<% elsif product.volume.present? %>
				<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}мм | #{product.volume}л" %></p>
			<% elsif product.height.present?  %>
				<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}x#{product.height}мм" %></p>
			<% else %>
				<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}мм" %></p>
			<% end %>
		<% elsif product.length.present? && product.width.present? && product.height.present?  %>
			<% if product.volume.present? %>
				<p class="product-index-dimensions"><%= "#{product.length}x#{product.width}x#{product.height}мм | #{product.volume}л" %></p>
			<% else %>
				<p class="product-index-dimensions"><%= "#{product.length}x#{product.width}x#{product.height}мм" %></p>
			<% end %>
		<% else %>
			<p class="product-index-dimensions">&nbsp;</p>
		<% end %>
		<%= link_to product_path(product.id, filter_category: @curr_cat_id), class: "no-border" do %>
			<%= image_tag product.thumbnail.url(:thumb) %>
		<% end %>

	<% if var_prices_any?(product) %>
			<% 
				prices = []
				prices << product.var_color_price_1 if product.var_color_price_1.present?
				prices << product.var_color_price_2 if product.var_color_price_2.present?
				prices << product.var_color_price_3 if product.var_color_price_3.present?
				prices << product.var_high_price_1 if product.var_high_price_1.present?
				prices << product.var_high_price_2 if product.var_high_price_2.present?
				prices << product.var_high_price_3 if product.var_high_price_3.present?
				prices << product.var_spec_price_1 if product.var_spec_price_1.present?
				prices << product.var_spec_price_2 if product.var_spec_price_2.present?
				prices << product.var_spec_price_3 if product.var_spec_price_3.present?
			%>
			<p class="product-index-price">
				От <%= prices.min %> <span><i class="glyphicon glyphicon-ruble"></i></span>
			</p>
		<% else %>
			<p class="product-index-price">&nbsp;</p>
		<% end %>
		
		<div class="module-comparison" id="module-comparison-<%= product.id %>">
			<% if current_comparison.comparison_items.any? { |ci| ci.product_id == product.id } %>
				<%= render 'comparison_items/remove_link', c: product.id %>
			<% else %>
				<%= render 'comparison_items/add_link', c: product.id %>
			<% end %>
		</div>
	
		<div class="module-cart" id="module-cart-<%= product.id %>">
			<% if current_order.order_items.any? { |oi| oi.product_id == product.id } %>
				<%= render 'order_items/remove_link', o: product.id %>
			<% else %>
				<%= render 'order_items/add_link', o: product.id %>
			<% end %>
		</div>

		<% if admin_signed_in? %>
			<span class="admin-index-icons-devider">|</span>
			<%= link_to edit_product_path(product), class: "admin-index-icon-edit" do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to product, method: :delete, data: { confirm: 'Уверены? Необратимо.' }, class: "admin-index-icon-delete", filter_category: @curr_cat_id do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
		<% end %>

	</div>
<% end %>