<% if product.active? %>
	
	<div class="product-index col-lg-3 col-md-4 col-sm-6">
		
		<%= link_to product_path(product.id, filter_category: @curr_cat_id), class: "no-border" do %>
			<h3 title="<%= product.name %>"><%= product.name %></h3>
		<% end %>

		<% if product.diameter.present? %>
			<% if product.volume.present? && product.height.present? %>
				<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}x#{product.height}мм | #{product.volume}л" %></p>
			<% elsif product.volume.present? %>
				<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}мм | #{product.volume}л" %></p>
			<% elsif product.height.present?  %>
				<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}x#{product.height}мм" %></p>
			<% else %>
				<p class="product-index-dimensions">&#8709;<%= "#{product.diameter}мм" %></p>
			<% end %>
		<% elsif product.length.present? && product.width.present? && product.height.present?  %>
			<% if product.volume.present? %>
				<p class="product-index-dimensions"><%= "#{product.length}x#{product.width}x#{product.height}мм | #{product.volume}л" %></p>
			<% else %>
				<p class="product-index-dimensions"><%= "#{product.length}x#{product.width}x#{product.height}мм" %></p>
			<% end %>
		<% else %>
			<p class="product-index-dimensions">&nbsp;</p>
		<% end %>
		<%= link_to product_path(product.id, filter_category: @curr_cat_id), class: "no-border" do %>
			<%= image_tag product.thumbnail.url(:thumb) %>
		<% end %>

		<% if product.var_color || product.var_high || product.var_spec %>
			<% 
				prices = []
				prices << product.var_color_price_1 if product.var_color_price_1.present?
				prices << product.var_color_price_2 if product.var_color_price_2.present?
				prices << product.var_color_price_3 if product.var_color_price_3.present?
				prices << product.var_high_price_1 if product.var_high_price_1.present?
				prices << product.var_high_price_2 if product.var_high_price_2.present?
				prices << product.var_high_price_3 if product.var_high_price_3.present?
				prices << product.var_spec_price_1 if product.var_spec_price_1.present?
				prices << product.var_spec_price_2 if product.var_spec_price_2.present?
				prices << product.var_spec_price_3 if product.var_spec_price_3.present?
			%>
			<p class="product-index-price">
				От <%= prices.min %> <span><i class="glyphicon glyphicon-ruble"></i></span>
			</p>
		<% else %>
			<p class="product-index-price">&nbsp;</p>
		<% end %>
		
		<div class="module-comparison">
			<% if current_comparison.comparison_items.any? { |ci| ci.product_id == product.id } %>
				<%= link_to comparison_item_by_product_id(product.id), method: :delete, remote: true, class: "admin-index-icons" do %>
					<i title="В сравнении. Удалить?" class="glyphicon glyphicon-ok"></i>
				<% end %>
			<% else %>
				<%= form_for @new_comparison_item, remote: true do |f| %>
					<%= f.hidden_field :product_id, value: product.id %>
					<%= button_tag(type: 'submit', class: "admin-index-icons") do %>
						<i title="Добавить к сравнению" class="glyphicon glyphicon-stats"></i>
					<% end %>
				<% end %>
			<% end %>
		</div>
	
		<div class="module-cart">
			<% if current_order.order_items.any? { |oi| oi.product_id == product.id } %>
				<%= link_to order_item_by_product_id(product.id), method: :delete, remote: true, class: "admin-index-icon-cart" do %>
					<i title="В корзине. Удалить?" class="glyphicon glyphicon-ok"></i>
				<% end %>
			<% else %>
				<%= form_for @new_order_item, remote: true do |f| %>
					<%= f.hidden_field :product_id, value: product.id %>
					<%= f.hidden_field :color_quantity, value: 0 %>
					<%= f.hidden_field :high_quantity, value: 0 %>
					<%= f.hidden_field :spec_quantity, value: 0 %>
					<%= button_tag(type: 'submit', class: "admin-index-icon-cart") do %>
						<i title="Добавить в корзину" class="glyphicon glyphicon-shopping-cart"></i>
					<% end %>
				<% end %>
			<% end %>
		</div>

		<% if admin_signed_in? %>
			<span class="admin-index-icons-devider">|</span>
			<%= link_to edit_product_path(product), class: "admin-index-icon-edit" do %>
				<i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to product, method: :delete, data: { confirm: 'Уверены? Необратимо.' }, class: "admin-index-icon-delete", filter_category: @curr_cat_id do %>
				<i class="glyphicon glyphicon-trash"></i>
			<% end %>
		<% end %>

	</div>
<% end %>