<!-- <p id="notice"><%= notice %></p> -->

<h1>Продукция</h1>

<% @products.each do |product| %>
  <div class="product-index">

    <h3><%= link_to product.name, product %></h3>

    <img src=<%= product.gallery.split("','").first if product.gallery.present? %> class="product-image-index" />

    <div class="product-description-index">
      <% if product.capacity.present? %>
      <p><span class="bold">Вместимость:</span> <%= product.capacity %></p>
      <% end %>
      <% if product.volume.present? %>
      <p><span class="bold">Общий объем:</span> <%= product.volume %> л</p>
      <% end %>
      <% if product.net_volume.present? %>
      <p><span class="bold">Полезный объем:</span> <%= product.net_volume %> л</p>
      <% end %>
    </div>
    
    <div class="admin-edit-link-right-sub">
      <%= link_to 'Редактировать', edit_product_path(product), class: "admin-edit-link" %>
      <%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Уверены?' }, class: "admin-edit-link" %>
    </div>

  </div>
<% end %>

<br>

<%= link_to 'Новый продукт', new_product_path, class: "admin-edit-link-right" %>
