<!-- <p id="notice"><%= notice %></p> -->
<% if @curr_cat_id.present? %>
  <h1><%= Category.find(@curr_cat_id).name %></h1>
<% elsif @search_request.present? %>
  <h1>Поиск по запросу «<%= @search_request %>»</h1>
<% else %>
  <h1>Каталог продукции</h1>
<% end %>

<div id ="products-index-wrapper">
  <% @products.each do |product| %>
    <%= link_to product_path(product.id, filter_category: @curr_cat_id), class: "no-border" do %>
    <div class="product-index col-lg-3 col-md-4 col-sm-6">

      <h3><%= product.name %></h3>

      <% if product.length.present? && product.width.present? && product.height.present? && product.volume.present? %>
        <p class="product-index-dimensions"><%= "#{product.length}x#{product.width}x#{product.height}мм | #{product.volume}л" %></p>
      <% elsif product.length.present? && product.width.present? && product.height.present? %>
        <p class="product-index-dimensions"><%= "#{product.length}x#{product.width}x#{product.height}мм" %></p>
      <% else %>
        <p class="product-index-dimensions">&nbsp;</p>
      <% end %>

      <%= image_tag product.thumbnail.url(:thumb) %>

      <% if product.var_color || product.var_high || product.var_spec %>
        <% 
          prices = []
          prices << product.var_color_price_1 if product.var_color_price_1.present?
          prices << product.var_color_price_2 if product.var_color_price_2.present?
          prices << product.var_color_price_3 if product.var_color_price_3.present?
          prices << product.var_high_price_1 if product.var_high_price_1.present?
          prices << product.var_high_price_2 if product.var_high_price_2.present?
          prices << product.var_high_price_3 if product.var_high_price_3.present?
          prices << product.var_spec_price_1 if product.var_spec_price_1.present?
          prices << product.var_spec_price_2 if product.var_spec_price_2.present?
          prices << product.var_spec_price_3 if product.var_spec_price_3.present?
        %>
        <p class="product-index-price">
        	От <%= prices.min %> <span><i class="glyphicon glyphicon-ruble"></i></span>
        </p>
      <% else %>
        <p class="product-index-price">&nbsp;</p>
      <% end %>
      
      <% if admin_signed_in? %>
				<%= link_to edit_product_path(product), class: "admin-index-icon-edit" do %>
					<i class="glyphicon glyphicon-pencil"></i>
				<% end %>
				<%= link_to product, method: :delete, data: { confirm: 'Уверены? Необратимо.' }, class: "admin-index-icon-delete" do %>
					<i class="glyphicon glyphicon-trash"></i>
				<% end %>
			<% end %>
   
    </div>
    <% end %>
  <% end %>
</div>

<br>

<% if admin_signed_in? %>
	<%= link_to 'Новый продукт', new_product_path, class: "admin-edit-link-right" %>
<% end %>
