<!-- <p id="notice"><%= notice %></li> -->
<div data-no-turbolinks>
	<%= link_to edit_product_path(@product), class: "admin-icon-edit" do %>
			<i class="glyphicon glyphicon-pencil"></i>
	<% end %>
	<%= link_to @product, method: :delete, data: { confirm: 'Уверены? Необратимо.' }, class: "admin-icon-delete" do %>
		<i class="glyphicon glyphicon-trash"></i>
	<% end %>
</div>

<div id="show-product-title-wrapper">
<h1 class="show-product-title"><%= @product.name %></h1>
 	<% if admin_signed_in? %>

	<% end %>
</div>
<div class="clearfix"></div>

<% if @product.articul? %>
  Артикул: <%= @product.articul %>
<% end %>

<% if @product.thumbnail.url != 'box_menu.png' %>
	<%= link_to @product.thumbnail.url(:original), class: "imglink" do %>
		<%= image_tag @product.thumbnail.url(:thumb), class: "col-md-4 col-xs-6 mbottom30" %>
	<% end %>
<% end %>

<% @product.product_photos.each do |pic| %>
	<div class="show-gallery">
		<%= link_to pic.photo.url(:original), class: "imglink" do %>
			<%= image_tag pic.photo.url(:thumb), class: "col-md-4 col-xs-6 mbottom30" %>
		<% end %>
	</div>
<% end %>

<div class="clearfix"></div>

<div id="show-left-col">
  <ul>
    <% if @product.length.present? && @product.width.present? && @product.height.present? %>
      <li>Внешний размер: <%= "#{@product.length} x #{@product.width} x #{@product.height} мм" %></li>
    <% elsif @product.diameter.present? && @product.height.present? %>
      <li>Внешний размер: &#8709;<%= @product.diameter %> x <%= @product.height %> мм</li>
    <% elsif @product.diameter.present? %>
      <li>Внешний размер: &#8709;<%= @product.diameter %> мм</li>
    <% end %>

    <% if @product.inner_length.present? && @product.inner_width.present? && @product.inner_height.present? %>
      <li>Внутренний размер: <%= "#{@product.inner_length} x #{@product.inner_width} x #{@product.inner_height} мм" %></li>
    <% elsif @product.inner_diameter.present? && @product.inner_height.present? %>
      <li>Внутренний размер: &#8709;<%= @product.inner_diameter %> x <%= @product.inner_height %> мм</li>
    <% elsif @product.inner_diameter.present? %>
      <li>Внутренний размер: &#8709;<%= @product.inner_diameter %> мм</li>
    <% end %>

    <% if @product.volume.present? %>
      <li>Объем: <%= @product.volume %> л</li>
    <% end %>

    <% if @product.net_volume.present? %>
      <li>Полезный объем: <%= @product.net_volume %>л</li>
    <% end %>

    <% if @product.capacity.present? %>
      <li>Вместимость: <%= @product.capacity %>л</li>
    <% end %>

    <% if @product.weight.present? %>
      <li>Вес: <%= @product.weight %> кг</li>

    <% end %>

    <% if @product.side.present? %>
      <li>Стенки: <%= @product.side %></li>
    <% end %>

    <% if @product.bottom.present? %>
      <li>Дно: <%= @product.bottom %></li>
    <% end %>

		<% unless @product.cover.nil? || @product.name == "Крышка для ящика" %>
      <% if @product.cover %>
        <li>С крышкой</li>
      <% else %>
        <li>Без крышки</li>
      <% end %>
    <% end %>

    <% if @product.static_load.present? %>
      <li>Статическая нагрузка: <%= @product.static_load %> кг</li>
    <% end %>

    <% if @product.dynamic_load.present? %>
      <li>Динамическая нагрузка: <%= @product.dynamic_load %> кг</li>
    <% end %>

    <% if @product.rack_load.present? %>
      <li>Стеллажная нагрузка: <%= @product.rack_load %> кг</li>
    <% end %>
  <ul>
</div>

<% if @product.var_color || @product.var_high || @product.var_spec || @product.color.present? %>
	<div id="show-right-col">
		<% if @product.var_color || @product.var_high || @product.var_spec %>
			<table id="show-prices">
				<tr>
					<th></th>
					<th>До 50 т.р.</th>
					<th>До 300 т.р.</th>
					<th>От 300 т.р.</th>
				</tr>
				<% if @product.var_color %>
					<tr>
						<td>Цветной</td>
						<% if @product.var_color_price_1.present? %>
							<td><%= @product.var_color_price_1 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
						<% if @product.var_color_price_2.present? %>
							<td><%= @product.var_color_price_2 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
						<% if @product.var_color_price_3.present? %>
							<td><%= @product.var_color_price_3 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
					</tr>
				<% end %>
				<% if @product.var_high %>
					<tr>
						<td>Высший сорт</td>
						<% if @product.var_high_price_1.present? %>
							<td><%= @product.var_high_price_1 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
						<% if @product.var_high_price_2.present? %>
							<td><%= @product.var_high_price_2 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
						<% if @product.var_high_price_3.present? %>
							<td><%= @product.var_high_price_3 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
					</tr>
				<% end %>
				<% if @product.var_spec %>
					<tr>
						<td>Спецпредложение</td>
						<% if @product.var_spec_price_1.present? %>
							<td><%= @product.var_spec_price_1 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
						<% if @product.var_spec_price_2.present? %>
							<td><%= @product.var_spec_price_2 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
						<% if @product.var_spec_price_3.present? %>
							<td><%= @product.var_spec_price_3 %> <span><i class="glyphicon glyphicon-ruble"></i></span></td>
						<% end %>
					</tr>
				<% end %>
			</table>
		<% end %>

		<br>
		<% if @product.color.present? %>
			<div id="product-colors">
				<% @product.color.split(/\W+/).delete_if(&:blank?).each do |color| %>
					<div id="<%= color %>-color" class="product-color"></div>
				<% end %>
				<div class="clearfix"></div>
			</div>
		<% end %>

	</div>
<% end %>
<div class="clearfix"></div>

<% if @product.description.present? %>
  <%= @product.description.html_safe %>
<% end %>

<br>

<% if @product.category.name == "Ящики" %>
	<h2>
		Сопутствующие товары	
	</h2>
		<% @product.related_products.each do |product| %>
			<%= render 'product_module', product: product  %>
		<% end %>
<% end %>