<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title><%= meta_title %></title>
	<meta name="description" content="<%= meta_description %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<%= render partial: "shared/header" %>
<%= render partial: "shared/slider" %>
<%= render partial: "shared/production_menu" %>

<div id="main-content" class="row clearfix">
	<%= render partial: "shared/sidebar" %>

	<div id="main-col" class="clearfix">
	
		<% flash.each do |name, msg| %>
			<% if msg.is_a?(String) %>
				<div class="alert alert-<%= name.to_s == 'notice' ? 'info' : 'danger' %>">
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				</div>
			<% end %>
		<% end %>
		
		<div id="content">
			<%= yield %>
		</div>
	
	</div>

</div>

<%= render partial: "shared/footer" %>

</body>
</html>
