<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Пласт-тара</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.png' %>

</head>
<body>

<%= render partial: "shared/header" %>
<%= render partial: "shared/slider" %>
<%= render partial: "shared/production_menu" %>

<div id="main-content" class="row clearfix">
	<%= render partial: "shared/sidebar" %>

	<div id="main-col" class="clearfix">
	<%= yield %>
	</div>

</div>

<%= render partial: "shared/footer" %>



<!--Fix navbar when scrolled-->
<script>
  $(window).scroll(function(){
      if ($(this).scrollTop() > 90) {
          $('#header-main-nav').addClass('navbar-fixed');
          $('#logo h1').addClass('hidden');
          $('#logo').addClass('logo-shrinked');
          $('#menu').addClass('menu-shrinked');
          $('#site-search').addClass('site-search-shrinked');
          $('#callme-shrinked').removeClass('hidden');
      } else {
          $('#header-main-nav').removeClass('navbar-fixed');
          $('#logo h1').removeClass('hidden');
          $('#logo').removeClass('logo-shrinked');
          $('#menu').removeClass('menu-shrinked');
          $('#site-search').removeClass('site-search-shrinked');
          $('#callme-shrinked').addClass('hidden');
      }
  });
</script>

<!--Toggle production menu-->
<script type="text/javascript">
function toggleDiv(toggleId) {
   $("#"+toggleId).slideToggle(200);
}
</script>

</body>
</html>
